<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <!-- Buttons -->
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <!-- Input name -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <!-- Input imgURL -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imgPath">Image URL</label>
            <input type="text" id="imgPath" class="form-control" formControlName="imagePath" #imgPth>
          </div>
        </div>
      </div>

      <!-- imgPreview -->
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgPth.value" [alt]="recipeForm.get('description').value" class="img-responsive">
        </div>
      </div>

      <!-- img description -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <!-- ingredients -->
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientControl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
      </div>

      <!-- end of form -->
    </form>
  </div>
</div>